@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin card(
  $bg: var(--bg-card),
  $radius: var(--radius),
  $padding: 20px,
  $shadow: var(--shadow-soft)
) {
  background: $bg;
  border-radius: $radius;
  padding: $padding;
  box-shadow: $shadow;
}

@mixin button($bg: var(--accent), $color: white, $radius: var(--radius-small)) {
  position: relative; // nécessaire pour le pseudo-élément
  overflow: hidden; // pour que la brillance ne dépasse pas le bouton
  background: $bg;
  color: $color;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  @include transition();

  &:hover {
    scale: calc(1.12);
  }

  // Pseudo-élément pour la brillance
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%; // commence à gauche hors du bouton
    width: 50%; // largeur de la brillance
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg); // pour l'effet diagonal
    transition: none;
  }

  &:hover::before {
    animation: shine 1s forwards;
  }
}

// Animation de la brillance
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@mixin transition($props: all, $time: 0.3s, $ease: ease) {
  transition: $props $time $ease;
}

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
}

@mixin fade($duration: 0.25s, $ease: ease) {
  animation: fade $duration $ease;
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Hover simple pour card ou module */
@mixin hover-card(
  $translateY: -6px,
  $shadow: var(--shadow-soft),
  $transition: 0.3s
) {
  transition:
    transform $transition ease,
    box-shadow $transition ease;
  &:hover {
    transform: translateY($translateY);
    box-shadow: $shadow;
  }
}

/* custom de la side bar de scroll */
@mixin custom-scrollbar($thumb-color, $track-color) {
  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 10px;
    border: 2px solid $track-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lighten($thumb-color, 15%);
  }
}
